.container{
  
    .card{
      margin : 20px;
      .form-control{
        margin:20px;
        max-width: 280px;
      }
    }
      margin-top:20px;
         min-width: 400px;
         label{
           margin-left:40px;
         }
         #result{
           text-align:center;
         }
        }