.card{
    max-width: 330px;
    margin:20px;
    padding:5px;
    button{
      margin-top:10px;
    }
  }
  .form-control{
      max-width: 100px;
      margin:2px;
  }
  h3{
    margin-top:20px;
      margin-left:50px;
  }
  h5{
    margin-left: 5px;
    text-align:center;
  }